NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace_with_a_secure_random_string

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_ID=
GITHUB_SECRET=

DEMO_ADMIN_EMAIL=admin@example.com
DEMO_ADMIN_PASSWORD=admin123

PROJECT2_SITE_NAME=SaasCandy
PROJECT2_AUTHOR_NAME=SaasCandy Team
PROJECT3_SITE_NAME=Sustainable
PROJECT3_AUTHOR_NAME=Sustainable Team
